@page
@model Netyar.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].CompanyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].CompanyTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList[0].CountDepartment)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CompanyList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountDepartment)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CompanyID">ویرایش</a> |
                    <a asp-page="./Details" asp-route-id="@item.CompanyID">Details</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
